.color-strong {
    color: var(--color-strong);
}

.card {
    width: 25rem
}

.btn-a {
    background-color: #8b97a3;
    border: #8a98a5;
}

.btn-a:hover {
    background-color: #707f8d;
    border: #8a98a5;
}

.syles-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;

}