.color-strong {
    color: var(--color-strong);
}

.card {
    width: 25rem
}

.btn-a {
    background-color: #8b97a3;
    border: #8a98a5;
}

.btn-a:hover {
    background-color: #707f8d;
    border: #8a98a5;
}

.syles-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;

}


/* RESPONSE */

@media (max-width: 1065px) {
    .color-strong {
        font-size: 1.4rem;
    }

}


@media (max-width: 600px) {
    .color-strong {
        font-size: 1.3rem;
    }

}


@media (max-width: 320px) {

    .color-strong {
        font-size: 1rem;
    }

    .syles-cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-bottom: 2rem;
    }

}

@media (max-width: 480px) {

    .syles-cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 100%;
        margin-bottom: 2rem;
    }

}

