

.footer {
    min-height: 2.5rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 3%;
    padding-top: 2.8rem;
    padding-bottom: 1.5rem;
    border-top: 3px solid var(--color-terciary);
  }

  .footer h5,
  .footer h8 {
    margin-bottom: 2.2rem;
    opacity: 0.4;
  }
  
  .content {
    min-height: 25rem;
  }

  .img-perfil {
    padding-bottom: 1.8rem;
    margin: auto;
    display: block;
    width: 9.3rem;
  }


  /* RESPONSE */

  @media (max-width: 480px) {
  
     .footer h5 {
      font-size: 1.2rem;
     }

     .footer h8 {
      font-size: 0.8rem;
     }

  }