.works {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  flex-basis: 30%;
  flex-grow: 1;
  margin: 1.8rem;
}

.work-item img {
  width: 100%;
  transition: all 500ms;
}

.mask img {
  display: block;
  margin: auto;
  height: 100%;
}

.work-item .mask {
  height: 100%;
  overflow: hidden;
  border: 0.06rem solid #2e5b85;
  box-shadow: 0rem 0.3rem 0.9rem #788693;
}

.work-item span {
  display: block;
  color: var(--color-terciary);
  margin-top: 2.1rem;
}

.work-img:hover {
  scale: 1.3;
  transition: all 700ms;
}

.work-item h2 {
  text-decoration: none;
  font-size: 2.1rem;
  display: block;
  color: black;
  margin-top: 0.3rem;
  margin-bottom: 0.6rem;

}

.work-item h2:hover {
  color: #9ea647b0;
  text-decoration: none;
  transition: all 0.5s;
}

.work-item h3 {
  font-size: 1.5rem;
  display: block;
  padding-top: 0.9rem;
  margin-top: 0rem;
  border-top: 0.06rem solid #788693;
}

.proyect-info {
  text-align: center;
}

.proyect-info p {
  font-size: 1.25rem;
  text-align: center;
}

.bi-backspace {
  width: 45px;
  margin: 45px;
  color: var(--color-terciary);
}

.page-work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* RESPONSE */

@media (max-width: 1024px) {

  .bi-backspace {
    width: 40px;
    margin: 40px;
  }

  .proyect-info p {
    font-size: 0.8rem;  
  }
  
.works {
  display: flex;
  flex-direction: column;
}


.work-item h2 {
  font-size: 1.5rem;
}

.page .heading {
    font-size: 1.7rem;
}

.mask img {
  width: 100%;
}

.work-item span {
  font-size: 1.1rem;  
}


}




@media (max-width: 960px) {

  .bi-backspace {
    width: 35px;
    margin: 35px;
  }

  .work-item h3 {
    font-size: 1.4rem;  
  }

}



@media (max-width: 480px) {

  .bi-backspace {
    width: 30px;
    margin: 30px;
  }

  .works {
    display: flex;
    flex-direction: column;
  }
  

  .work-item h2 {
    font-size: 1.5rem;
  }

  
  .work-item h3 {
    font-size: 1.2rem;
  }

  .page .heading {
      font-size: 1.7rem;
  }

  .mask img {
    width: 100%;
  }

}

 @media (max-width: 320px) {

   .bi-backspace {
    width: 20px;
    margin: 20px;
  }

} 











