.styles-redes-sociales {
    width: 100%;
    display: flex;
    justify-content: center;
   
}

.linkedin {
    color: #a8b5c1;
}

.whatsapp,
.github {
    color: #a8b5c1;
}

.styles-redes-sociales a:hover {
    color: #7d91a3;
    transition: all 0.5s;
}




