/* Variables */

/* :root {
  --color-primary: #99d5d8;
  --color-secondary: #D2BFB9 ;
  --color-terciary: #1f4474;

} */



/* Estilos */


* {
  font-size: 100%;
}

body {
  letter-spacing: 1px;
  height: 80rem;
  margin: 0;
  font-family: 'Titillium Web', sans-serif; 
  background-color: var(--color-primary);
  text-align: justify;
}

.color-text-global {
  color: rgb(198, 194, 194);
}

.page .heading {
  margin-bottom: 2%;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#icon {
  color: blue;
  background-color: blue;
}















 
